body {
    @media (max-width: 768px) {
        body {
            font-size: 14px;
        }

        #app {
            padding: 10px;
        }

        .newCodigo,
        .newItemInput,
        .newQuantityInput {
            width: 100%;
        }
    }
